In [4]:
import os
os.listdir()

['.ipynb_checkpoints',
 'supermarkets-commas.txt',
 'supermarkets-semi-colons.txt',
 'supermarkets.csv',
 'supermarkets.json',
 'supermarkets.xlsx',
 'Untitled.ipynb']

In [5]:
import pandas

In [16]:
df1 = pandas.read_csv("supermarkets.csv")
df1.set_index("ID")

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [18]:
df1 = pandas.read_csv("supermarkets.csv")
df1.set_index("ID")

,Address,City,State,Country,Name,Employees
ID,,,,,,
1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
3,332 Hill St,San Francisco,California 94114,USA,Super River,25
4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [19]:
df1.shape

(6, 7)

In [22]:
df2=pandas.read_json("supermarkets.json")
df2.set_index("ID")

,Address,City,Country,Employees,Name,State
ID,,,,,,
1,3666 21st St,San Francisco,USA,8,Madeira,CA 94114
2,735 Dolores St,San Francisco,USA,15,Bready Shop,CA 94119
3,332 Hill St,San Francisco,USA,25,Super River,California 94114
4,3995 23rd St,San Francisco,USA,10,Ben's Shop,CA 94114
5,1056 Sanchez St,San Francisco,USA,12,Sanchez,California
6,551 Alvarado St,San Francisco,USA,20,Richvalley,CA 94114

In [24]:
df3=pandas.read_excel("supermarkets.xlsx",sheet_name=0)
df3

,ID,Address,City,State,Country,Supermarket Name,Number of Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [26]:
df4=pandas.read_csv("supermarkets-commas.txt")
df4

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [30]:
df5=pandas.read_csv("supermarkets-semi-colons.txt",sep=";")
df5

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [31]:
df6=pandas.read_csv("http://pythonhow.com/supermarkets.csv")
df6

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [32]:
df7=pandas.read_json("http://pythonhow.com/supermarkets.json")
df7

,Address,City,Country,Employees,ID,Name,State
0,3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114
1,735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119
2,332 Hill St,San Francisco,USA,25,3,Super River,California 94114
3,3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114
4,1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California
5,551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114

In [35]:
df7 = df7.set_index("Address")
df7

,City,Country,Employees,ID,Name,State
Address,,,,,,
3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114
735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119
332 Hill St,San Francisco,USA,25,3,Super River,California 94114
3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114
1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California
551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114

In [40]:
df7.loc["735 Dolores St":"332 Hill St","Country":"ID"]

               Country  Employees  ID
Address
735 Dolores St     USA         15   2
332 Hill St        USA         25   3

In [43]:
df7.iloc[1:4,1:3]

               Country  Employees
Address
735 Dolores St     USA         15
332 Hill St        USA         25
3995 23rd St       USA         10

In [44]:
df7.ix[3,"Name"]

C:\Users\zaidi\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

"Ben's Shop"

In [45]:
df7.drop("City",1)

                Country  Employees  ID         Name             State
Address
3666 21st St        USA          8   1      Madeira          CA 94114
735 Dolores St      USA         15   2  Bready Shop          CA 94119
332 Hill St         USA         25   3  Super River  California 94114
3995 23rd St        USA         10   4   Ben's Shop          CA 94114
1056 Sanchez St     USA         12   5      Sanchez        California
551 Alvarado St     USA         20   6   Richvalley          CA 94114

In [46]:
df7.drop("332 Hill St",0)

                          City Country  Employees  ID         Name       State
Address
3666 21st St     San Francisco     USA          8   1      Madeira    CA 94114
735 Dolores St   San Francisco     USA         15   2  Bready Shop    CA 94119
3995 23rd St     San Francisco     USA         10   4   Ben's Shop    CA 94114
1056 Sanchez St  San Francisco     USA         12   5      Sanchez  California
551 Alvarado St  San Francisco     USA         20   6   Richvalley    CA 94114

In [50]:
df7.drop(df7.columns[0:3],1)

                 ID         Name             State
Address
3666 21st St      1      Madeira          CA 94114
735 Dolores St    2  Bready Shop          CA 94119
332 Hill St       3  Super River  California 94114
3995 23rd St      4   Ben's Shop          CA 94114
1056 Sanchez St   5      Sanchez        California
551 Alvarado St   6   Richvalley          CA 94114

In [51]:
df7

,City,Country,Employees,ID,Name,State
Address,,,,,,
3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114
735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119
332 Hill St,San Francisco,USA,25,3,Super River,California 94114
3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114
1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California
551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114

In [53]:
df7["Continent"]=df7.shape[0]*["North America"]

In [55]:
df7["Continent"]=df7["Country"]+","+"North America"

In [56]:
df7

,City,Country,Employees,ID,Name,State,Continent
Address,,,,,,,
3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114,"USA,North America"
735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119,"USA,North America"
332 Hill St,San Francisco,USA,25,3,Super River,California 94114,"USA,North America"
3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114,"USA,North America"
1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California,"USA,North America"
551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114,"USA,North America"

In [58]:
df7_t=df7.T

In [60]:
df7_t

Address,3666 21st St,735 Dolores St,332 Hill St,3995 23rd St,1056 Sanchez St,551 Alvarado St
City,San Francisco,San Francisco,San Francisco,San Francisco,San Francisco,San Francisco
Country,USA,USA,USA,USA,USA,USA
Employees,8,15,25,10,12,20
ID,1,2,3,4,5,6
Name,Madeira,Bready Shop,Super River,Ben's Shop,Sanchez,Richvalley
State,CA 94114,CA 94119,California 94114,CA 94114,California,CA 94114
Continent,"USA,North America","USA,North America","USA,North America","USA,North America","USA,North America","USA,North America"

In [61]:
df7_t["My Address"]=["My City","My Country",10,7,"My Shop","My State","My Continent"]

In [62]:
df7_t

Address,3666 21st St,735 Dolores St,332 Hill St,3995 23rd St,1056 Sanchez St,551 Alvarado St,My Address
City,San Francisco,San Francisco,San Francisco,San Francisco,San Francisco,San Francisco,My City
Country,USA,USA,USA,USA,USA,USA,My Country
Employees,8,15,25,10,12,20,10
ID,1,2,3,4,5,6,7
Name,Madeira,Bready Shop,Super River,Ben's Shop,Sanchez,Richvalley,My Shop
State,CA 94114,CA 94119,California 94114,CA 94114,California,CA 94114,My State
Continent,"USA,North America","USA,North America","USA,North America","USA,North America","USA,North America","USA,North America",My Continent

In [63]:
df7 = df7_t.T

In [64]:
df7

,City,Country,Employees,ID,Name,State,Continent
Address,,,,,,,
3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114,"USA,North America"
735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119,"USA,North America"
332 Hill St,San Francisco,USA,25,3,Super River,California 94114,"USA,North America"
3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114,"USA,North America"
1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California,"USA,North America"
551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114,"USA,North America"
My Address,My City,My Country,10,7,My Shop,My State,My Continent

In [65]:
type(df7)

pandas.core.frame.DataFrame

In [67]:
from geopy.geocoders import ArcGIS

In [68]:
nom = ArcGIS()

In [89]:
n=nom.geocode("3995 23rd St, San Francisco, CA 94114")

n

GeocoderTimedOut: Service timed out

In [85]:
n.latitude

37.75298458728149

In [73]:
type(n)

geopy.location.Location

In [74]:
import pandas
df=pandas.read_csv("Supermarkets.csv")
df

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [82]:
df["Address"]=df["Address"]+", "+df["City"] +", "+df["State"]+", "+df["Country"]
df

,ID,Address,City,State,Country,Name,Employees
0,1,"3666 21st St,San Francisco,CA 94114,USA, San F...",San Francisco,CA 94114,USA,Madeira,8
1,2,"735 Dolores St,San Francisco,CA 94119,USA, San...",San Francisco,CA 94119,USA,Bready Shop,15
2,3,"332 Hill St,San Francisco,California 94114,USA...",San Francisco,California 94114,USA,Super River,25
3,4,"3995 23rd St,San Francisco,CA 94114,USA, San F...",San Francisco,CA 94114,USA,Ben's Shop,10
4,5,"1056 Sanchez St,San Francisco,California,USA, ...",San Francisco,California,USA,Sanchez,12
5,6,"551 Alvarado St,San Francisco,CA 94114,USA, Sa...",San Francisco,CA 94114,USA,Richvalley,20

In [83]:
df["Coordinates"]=df["Address"].apply(nom.geocode)
df

GeocoderServiceError: {'code': 400, 'extendedCode': -2147467259, 'message': 'Unable to complete operation.', 'details': ["'SingleLine' parameter value exceeds the maximum length of 200 characters allowed for the parameter value."]}

In [90]:
n

Location(3995 23rd St, San Francisco, California, 94114, (37.75298458728149, -122.4317017142651, 0.0))

In [91]:
df["Coordinates"]=df["Address"].apply(nom.geocode)
df

GeocoderTimedOut: Service timed out

In [92]:
df

,ID,Address,City,State,Country,Name,Employees
0,1,"3666 21st St,San Francisco,CA 94114,USA, San F...",San Francisco,CA 94114,USA,Madeira,8
1,2,"735 Dolores St,San Francisco,CA 94119,USA, San...",San Francisco,CA 94119,USA,Bready Shop,15
2,3,"332 Hill St,San Francisco,California 94114,USA...",San Francisco,California 94114,USA,Super River,25
3,4,"3995 23rd St,San Francisco,CA 94114,USA, San F...",San Francisco,CA 94114,USA,Ben's Shop,10
4,5,"1056 Sanchez St,San Francisco,California,USA, ...",San Francisco,California,USA,Sanchez,12
5,6,"551 Alvarado St,San Francisco,CA 94114,USA, Sa...",San Francisco,CA 94114,USA,Richvalley,20

In [93]:
df["Coordinates"]=df["Address"].apply(nom.geocode)

GeocoderTimedOut: Service timed out

In [94]:
n

Location(3995 23rd St, San Francisco, California, 94114, (37.75298458728149, -122.4317017142651, 0.0))

In [95]:
type(n)

geopy.location.Location

In [96]:
df=pandas.read_csv("supermarkets.csv")

In [97]:
df

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [98]:
df["Address"]=df["Address"]+", "+df["City"]+", "+df["State"]+", "+df["Country"]

In [99]:
df

,ID,Address,City,State,Country,Name,Employees
0,1,"3666 21st St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Madeira,8
1,2,"735 Dolores St, San Francisco, CA 94119, USA",San Francisco,CA 94119,USA,Bready Shop,15
2,3,"332 Hill St, San Francisco, California 94114, USA",San Francisco,California 94114,USA,Super River,25
3,4,"3995 23rd St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Ben's Shop,10
4,5,"1056 Sanchez St, San Francisco, California, USA",San Francisco,California,USA,Sanchez,12
5,6,"551 Alvarado St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Richvalley,20

In [108]:
df["Coordinates"]=df["Address"].apply(nom.geocode)
df.Coordinates[0].latitude

37.75644449321933

In [110]:
df["Latitude"]=df["Coordinates"].apply(lambda x: x.latitude)
df

,ID,Address,City,State,Country,Name,Employees,Coordinates,Latitude
0,1,"3666 21st St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Madeira,8,"(3666 21st St, San Francisco, California, 9411...",37.756444
1,2,"735 Dolores St, San Francisco, CA 94119, USA",San Francisco,CA 94119,USA,Bready Shop,15,"(735 Dolores St, San Francisco, California, 94...",37.757801
2,3,"332 Hill St, San Francisco, California 94114, USA",San Francisco,California 94114,USA,Super River,25,"(332 Hill St, San Francisco, California, 94114...",37.755641
3,4,"3995 23rd St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Ben's Shop,10,"(3995 23rd St, San Francisco, California, 9411...",37.752985
4,5,"1056 Sanchez St, San Francisco, California, USA",San Francisco,California,USA,Sanchez,12,"(1056 Sanchez St, San Francisco, California, 9...",37.752144
5,6,"551 Alvarado St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Richvalley,20,"(551 Alvarado St, San Francisco, California, 9...",37.753709